html{
  background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 10px;
}

body, html{
  margin: 0;
  padding: 0;
  font-family: sans-serif, Helvetica Neue, Arial;
}

.keyboard {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.keyboard__key {
  font-size: 4rem;
  border: .4rem solid #000;
  color: #FFF;
  width: 10rem;
  text-align: center;
  font-size: 1.5rem;
  border-radius: .5rem;
  margin: 1rem;
  padding: 1rem .5rem;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem #000;
  transition: all .07s ease;
}

.keyboard__letter {
  display: block;
  font-family: monospace;
  font-size: 4rem;
}

.keyboard__sound {
  font-size: 1.2rem;
  letter-spacing: .1rem;
  color: #ffc600;
}

.play {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}